<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Moniteurs Gestion</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>



            </div>
            <!-- /.container-fluid -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <!-- Area Chart -->
                    <div class="table_users col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">liste des moniteurs</h6>
                                <button routerLink="/add-monitor" class="btn btn-info">add Moniteur</button>
                            </div>

                            <div *ngIf="moniteurs.length==0" class="alert alert-warning">monitors table is empty</div>

                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>firstname</th>
                                                <th>lastname</th>
                                                <th>email</th>
                                                <th>phone</th>
                                                <th>account state</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let moniteur of moniteurs;let i = index">
                                                <td> {{i+1}} </td>
                                                <td>{{moniteur.firstname}}</td>
                                                <td>{{moniteur.lastname}}</td>
                                                <td>{{moniteur.email}}</td>
                                                <td>{{moniteur.phone}}</td>
                                                <td>
                                                    <div *ngIf="!moniteur.etat" class="badge-sm badge-danger badge">
                                                        inactive
                                                    </div>
                                                    <div *ngIf="moniteur.etat" class="badge-sm badge-success badge">
                                                        active
                                                    </div>
                                                </td>
                                                <td>
                                                    <button (click)="updateMoniteur(moniteur)" class="btn btn-sm"
                                                        [ngClass]="{
                                                'btn-success':!moniteur.etat,
                                                'btn-danger':moniteur.etat
                                            }">

                                                        <i class="fas" [ngClass]="{
                                                    'fa-user-check':!moniteur.etat,
                                                    'fa-user-lock':moniteur.etat
                                                }"></i>

                                                    </button>
                                                    <button (click)="deletMoniteur(moniteur,i)"
                                                        class="btn btn-sm btn-danger ml-3"><i
                                                            class="far fa-trash-alt"></i></button>
                                                    <button [routerLink]="['/update-monitor',moniteur._id]"
                                                        class="btn btn-sm btn-warning ml-3"><i
                                                            class="far fa-edit"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->